        *{
            margin: 0;
            padding: 0;
            }
        .banner{
            display: flex;
            background-color: #214283;
            height: 200px;
            padding: 1.2rem 0;
        }
        .anh{
            width: 200px;
            height: 200px;
            border-radius: 100px;
            object-fit: cover;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
            margin-left: 50px;
            margin-top: 80px;
            color: white;
        }

        .ull{
            display: flex;
            flex-direction: row;
            background-color: rgb(30, 151, 151);
            list-style-type: none;

        }
        .ull li {
            color:rgb(237, 243, 237);
            font-size: 20px;
            padding: 20px;
        }

        .ull li:hover{
            color: rgb(40, 185, 76);
        }

        .content{
            display: grid;
            grid-template-columns: 200px 1fr;
            border: 1px solid black;
        }
        .title1{
        border-bottom: 1px solid black;
        color: black;
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        }
        .menu{
            list-style-type: none;
           
        }
        .menu li{
        border-bottom: 1px solid black;
        color: blue;
        padding: 20px;
        font-size: 20px;
        position: relative;
        
        }
        .menu li:hover{
            color: red;
        }
    
        .menu1 ul.menu{
            display: none;
            position: absolute;
            background-color: #f1a3a6;
            padding: auto;
            list-style-type: none;
            width: 100px;
            left: 200px;
            top: 10px;

        }
        .menu li:hover ul.menu{
            display: block;
        }
        .contenright{
            display: flex;
            flex-direction: column;
            border-left: 1px solid black;
        }
        
        .title2{
            font-size: 40px;
            font-weight: bold;
            margin-top: 15px;
            padding:10px;
        }
        
        .divbig{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 50px;
            grid-row-gap: 50px;
        }
        
        .img{
            background-color:whitesmoke;
        
        }
        
        .name{
                color: blue;
                font-weight: bold;
                margin-left: 150px;
        }
        
        .img1{
            margin-left: 100px;
            padding: 5px;
            width: 250px;
            height: 250px;
            object-fit: center;
        }
        
        .b{
            margin-left: 160px;
            font-weight: bold;
        }
        
        .c{
            color: red;
            margin-left: 190px;
            font-weight: bold;
        }
        .d{
            margin-left: 190px;
            padding: 8px 12px;
            border: none;
            background-color: #f1a3a6;
            border-radius: 20px;
            cursor: pointer;       
        }
        .d a{
            text-decoration: none;
        }

        .menu > li:hover > ul{
            top: 100%;
            opacity: 1;
            z-index: 1;
            visibility: visible;
        }
        .menu > li ul, .menu ul ul{
            opacity: 0;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            z-index: -1;
            visibility: hidden;
        }
        .menu ul{
            position: absolute;
            box-shadow:  5px 5px 10px 0 rgba(247, 243, 243, 0.5);
        }
        .menu li{
            position: relative;
        }
        .muc li {
            background-color: purple;
            border:2px solid black;
            position: relative; top:-20px;left:130px;
            list-style-type: none;
            text-decoration: none;
        }
        .muc li a{
            color: white;
            text-decoration: none;
        }
        .menu li a{
            text-decoration: none;
        }
        .menu li a:hover{
            color: rgb(12, 110, 9)
        }
        .contentright{
            float: right;
        }
     